@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-in:oklch(0.585 0.233 277.117);
  --tx-col:blue;

  --bg-l1:#5fc85d;
  --bg-l2:#36868f;
  --bg-l3:#203671;
  --bg-l4:#0f052d;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
